<div> login form</div>
{{#unless user}}

<form method="post" action='/api/login'>
    <label>Email
        <input type="email" name="email">
    </label>
    <label>Password
        <input type="password" name="password">
    </label>
    <input type="submit" value="Log in">
</form>
{{/unless}}
{{#if user}}
<form method="post" action='/api/logout'>
    <input type="submit" value="Log out">
</form>
{{/if}}
